URL=tops-stage.mos.ru

DATABASES_ID=84a1993a-c55c-4e7f-9577-5d6199934056
TABLE_ID=3b603b70-f816-4f31-9871-8bfd50fd4504
TOKEN=ADD_TOKEN
SESSION_COOKIE=ADD_SESSION_COOKIE

DATA_PROVIDER_HOST=10.126.145.36
DATA_PROVIDER_DATABASE=postgres
DATA_PROVIDER_USER=ADD_DATA_PROVIDER_USER
DATA_PROVIDER_PWD=ADD_DATA_PROVIDER_PWD