# URL стенда TOPS
TOPS_URL="https://tops-stage.mos.ru"
# Атворизационный токен пользователя
TOKEN=eyJhbGciOiJFUzM4NCIsInR5cCI6IkpXVCJ9
# ID таблицы с данными для НТ
TOPS_DATA_TABLE_ID=3b603b70-f816-4f31-9871-8bfd50fd4504

# Параметры для подключения к Датапровайдеру
DATAPROVIDER_HOST=10.126.145.36
DATAPROVIDER_DATABASE=database
DATAPROVIDER_USER=ueser
DATAPROVIDER_PWD=pwd

DATAPROVIDER_API_PORT=3000

# Название табилцы в Датапровайдере для проверки результатов фоновой проверки
TABLE_NAME_CHECK_UPDATE=tops_checkupdate_pp